#pagetitle{
	min-height: 1.1em; 
	text-align: left; 
	font-size: 16px; 
	display: block; 
	margin: .8em 10px .8em;  
	padding: 0;  
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	outline: 0 !important;
}

#pagetitle h1{
	margin: 0 0 0 10px; 
	padding: 0; 
	font-size: 20px; 
	display: inline-block;
}

.section{
	border: solid 2px #aaaaaa;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: 15px 0px 15px 0px;
	
}

.section h2{
	background-color: #cccccc;
	padding: 10px;
	font-size: 16px;
}

.section p{
	font-size: 15px;
	padding: 0 10px 0 10px;
}

.icon{
	width: 60px;
	height: 60px;
	border: solid 2px #aaaaaa;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	margin: 0 10px 0 10px;
	float: left;
}

.icon p{
	font-size: 12px;
	padding: 2px;
}


label{
	text-shadow: 1px 1px 2px #ccc;
}

fieldset{
	text-shadow: 1px 1px 2px #ccc;
}

label.error{
	display: block;
	color: #cc0000;
	padding: 10px 0px;
}
